fastapi
uvicorn
sqlalchemy
psycopg2-binary
alembic
redis
celery
python-multipart
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
requests
aiohttp
openai
pydantic
pydantic-settings
BeautifulSoup4
pandas
selenium
yfinance